@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn ASP.NET Core 5 MVC(.NET 5) in this complete tutorial course for beginners. </p>
    <p>Click "Category for more information"</p>
</div>
